.filterbox{
    display: inline-block;
    height: max-content;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.filterbox label{
    margin-right: 0.5rem;
    color: rgb(57, 57, 71);
}

.filterbox h6{
    text-decoration: underline;
}



.listingPage{
    margin: 2rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 2rem;
}

.addListing{
    height: max-content;
    width: fit-content;
    justify-self: center;
}